[submodule "lib/leaflet-table"]
	path = lib/leaflet-table
	url = https://github.com/iCarto/leaflet-table
[submodule "lib/schema-validator"]
	path = lib/schema-validator
	url = git@github.com:iCarto/schema-validator.git
[submodule "lib/backbone-geojson"]
	path = lib/backbone-geojson
	url = git@github.com:iCarto/backbone-geojson.git
[submodule "lib/backbone-uilib"]
	path = lib/backbone-uilib
	url = git@github.com:iCarto/backbone-uilib.git
[submodule "lib/formatter"]
	path = lib/formatter
	url = git@github.com:iCarto/formatter.git
