<!DOCTYPE html>
<html lang="pt">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
  <title>Exploração</title>
  <link rel="stylesheet" href="lib/bootstrap/css/bootstrap.min.css" />
  <link rel="stylesheet" href="lib/font-awesome/css/font-awesome.min.css">
  <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800"> -->
  <link rel="stylesheet" href="lib/leaflet/leaflet.css" />
  <link rel="stylesheet" href="lib/leaflet-draw/dist/leaflet.draw.css" />
  <link rel="stylesheet" href="exploracao-show.css" />
  <link rel="stylesheet" href="base.css" />
</head>
<body class="container-fluid">
  <main>

    <menu class="row text-center">
      <a href="exploracao-search.html" class="col-xs-1">
        <strong id="search">EXPLORAÇÕES</strong>
      </a>
      <a href="utentes.html" class="col-xs-1">
        <strong id="utentes">UTENTES</strong>
      </a>
      <a href="exploracao-new.html" class="col-xs-1">
        <strong id="new">ALTA</strong>
      </a>
      <a href="exploracao-gps.html" class="col-xs-1">
        <strong id="gps">GPS</strong>
      </a>
    </menu>

    <section id="intro-section" class="row">

      <div id="info-section" class="col-xs-6">

        <div id="title" class="row">
          <span class="col-xs-12">
            <div>
              <h3>EXPLORACAO <span class="widget" id="exp_id"></span>
                <span class="pull-right">
                  <button type="button" class="btn btn-default btn-sm">Documentos</button>
                  <button id="save-button" type="button" class="btn btn-primary btn-sm">Guardar</button>
                  <button id="delete-button" type="button" class="btn btn-default btn-sm">Eliminar</button>
                </span>
              </h3>
            </div>
          </div>

          <section id="info">
            <div class="row">
              <h3 class="col-xs-1"><i class="fa fa-info"></i></h3>
              <h3 class="col-xs-10"> <span class="widget" id="exp_name"></span>
                <button type="button" class="btn btn-default btn-xs" id="editInfo">Editar</button>
              </h3>
            </div>
            <div class="row">
              <span class="col-xs-offset-1 col-xs-11">
                <span class="label widget" id="summary_licencia_msg"></span>
                <span class="label widget" id="summary_consumo_msg"></span>
                <span class="label widget" id="summary_pagos_msg"></span>
              </span>
            </div>
            <br>
            <div class="row">
              <span class="col-xs-offset-1 col-xs-11"><span class="title">Data de solicitação:</span> <span class="widget-date" id="d_soli">-</span></span>
            </div>
            <div class="row">
              <span class="col-xs-offset-1 col-xs-11"><span class="title">Observações:</span> <span class="widget" id="observacio">-</span></span>
            </div>
          </section>

          <section id="loc-info">
            <div class="row">
              <h3 class="col-xs-1"><i class="fa fa-map-marker"></i></h3>
              <h3 class="col-xs-11"><span class="widget" id="loc_provin"></span> / <span class="widget" id="loc_distri"></span>
                <button type="button" class="btn btn-default btn-xs" id="editLoc">Editar</button>
              </h3>
            </div>
            <div class="row">
              <span class="col-xs-offset-1 col-xs-11"><span class="title">Posto:</span> <span class="widget" id="loc_posto">-</span> <span class="title">Núcleo:</span> <span class="widget" id="loc_nucleo">-</span> <span class="title"> Endereço:</span> <span class="widget" id="loc_endere">-</span></span>
            </div>
            <div class="row">
              <span class="col-xs-offset-1 col-xs-11"><span class="title">Bacia:</span> <span class="widget" id="loc_bacia">-</span> <span class="title">Sub-bacia:</span> <span class="widget" id="loc_subaci">-</span> <span class="title">Río:</span> <span class="widget" id="loc_rio">-</span></span>
            </div>
          </section>


          <section id="utente">
            <div class="row">
              <h3 class="col-xs-1"><i class="fa fa-user"></i></h3>
              <h3 class="col-xs-11"><span class="widget" id="nome"></span>
                <button type="button" class="btn btn-default btn-xs" id="editUtente">Editar</button>
              </h3>
            </div>
            <div class="row">
              <span class="col-xs-offset-1 col-xs-11"><span class="title">NUIT:</span> <span class="widget" id="nuit">-</span> <span class="title">Tipo de entidade:</span> <span class="widget" id="entidade">-</span></span>
            </div>
            <div class="row">
              <span class="col-xs-offset-1 col-xs-11"><span class="title">Nro de registro comercial:</span> <span class="widget" id="reg_comerc">-</span> <span class="title">Registrado em:</span> <span class="widget" id="reg_zona">-</span></span>
            </div>
            <div class="row">
              <span class="col-xs-offset-1 col-xs-11"><span class="title">Localización:</span> <span class="widget" id="loc_provin">-</span> <span class="title">/</span> <span class="widget" id="loc_distri">-</span> <span class="title">/</span> <span class="widget" id="loc_posto">-</span> <span class="title">/</span> <span class="widget" id="loc_nucleo">-</span></span>
            </div>
            <div class="row">
              <span class="col-xs-offset-1 col-xs-11"><span class="title">Observações:</span> <span class="widget" id="observacio">-</span></span>
            </div>
          </section>

          <section id="info-actividade">
            <div class="row">
              <h3 class="col-xs-1"><i class="fa fa-wrench"></i></h3>
              <h3 class="col-xs-11"><span class="widget" id="actividade">Actividade non declarada</span>
                <button type="button" class="btn btn-default btn-xs" id="editActividade">Editar</button>
              </h3>
            </div>
            <div class="actividade-render">

            </div>
            <!-- each activity needs to render itself here, so it needs to declare as many divs.row component as it needs -->
          </section>

        </div>

        <div id="map-section" class="col-xs-6">
          <div class="row">
            <div id="map" class="col-xs-12"></div>
          </div>
        </div>

      </section>

      <section id="consumos" class="row volume-summary text-center">

        <div class="col-xs-3">
          <h3><span class="widget-number" id="c_licencia">-</span> </h3>
          <span>LICENÇADOS</span>
        </div>

        <div class="col-xs-3">
          <h3><span class="widget-number" id="c_soli">-</span> </h3>
          <span>SOLICITADOS</span>
        </div>

        <div class="col-xs-3">
          <h3><span class="widget-number" id="c_real">-</span> </h3>
          <span>REAIS</span>
        </div>

        <div class="col-xs-3">
          <h3><span class="widget-number" id="c_estimado">-</span> </h3>
          <span>ESTIMADOS</span>
        </div>

      </section>

      <div class="row">
        <div class="col-xs-6">
          <div class="row">
            <h3 class="col-xs-1"><i class="fa fa-tint"></i></h3>
            <h3 class="col-xs-11">Licenças e fontes</h3>
          </div>
        </div>
      </div>

      <section class="row">
        <div class="col-xs-6" id="licencia-superficial"></div>
        <div class="col-xs-6" id="licencia-subterranea"></div>
      </section>

      <br>

      <section class="row">

        <div class="col-xs-12">

          <br />
          <br />
          <table class="table" id="fontes">
            <thead>
              <tr>
                <th>Tipo de água</th>
                <th>Tipo de fonte</th>
                <th>Lat / Lon</th>
                <th>V. solicitado</th>
                <th>V. máximo</th>
                <th>V. real</th>
                <th>Toma de dados</th>
                <th>Contador</th>
                <th>Método estimación</th>
                <th>Observações</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
            </tbody>
          </table>

          <br />

        </div>

      </div>
    </section>


  </main>

  <!-- modals -->

  <!-- modal info -->
  <div class="modal fade" id="editInfoModal" tabindex="-1" role="dialog" aria-labelledby="editInfoModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Pechar"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="editInfoModalLabel">Informação</h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="form-group col-xs-offset-1 col-xs-4">
              <label for="exp_name">Nome da exploração</label>
              <input type="text" class="form-control widget" id="exp_name">
            </div>
            <div class="form-group col-xs-3">
              <label for="d_soli">Data de solicitação</label>
              <input type="text" class="form-control widget-date" id="d_soli">
            </div>
            <div class="form-group col-xs-3">
              <label for="pagos">Pagos</label>
              <select class="form-control widget-boolean" id="pagos">
              </select>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-xs-offset-1 col-xs-10">
              <label for="observacio">Observaçoes sobre linha de água e localizaçao</label>
              <textarea class="form-control widget" id="observacio" rows="2"></textarea>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- modal loc -->
  <div class="modal fade" id="editLocModal" tabindex="-1" role="dialog" aria-labelledby="editLocModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Pechar"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="editLocModalLabel">Localização</h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="form-group col-xs-offset-1 col-xs-4">
              <label for="loc_provin">Província</label>
              <select class="form-control widget" id="loc_provin">
              </select>
            </div>
            <div class="form-group col-xs-offset-2 col-xs-4">
              <label for="loc_bacia">Bacia</label>
              <select class="form-control widget" id="loc_bacia">
              </select>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-xs-offset-1 col-xs-4">
              <label for="loc_distri">Distrito</label>
              <select class="form-control widget" id="loc_distri">
              </select>
            </div>
            <div class="form-group col-xs-offset-2 col-xs-4">
              <label for="loc_subaci">Sub-bacia</label>
              <select class="form-control widget" id="loc_subaci">
              </select>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-xs-offset-1 col-xs-4">
              <label for="loc_posto">Posto administrativo</label>
              <select class="form-control widget" id="loc_posto">
              </select>
            </div>
            <div class="form-group col-xs-offset-2 col-xs-4">
              <label for="loc_rio">Río</label>
              <input type="text" class="form-control widget" id="loc_rio">
            </div>
          </div>
          <div class="row">
            <div class="form-group col-xs-offset-1 col-xs-4">
              <label for="loc_nucleo">Núcleo</label>
              <input type="text" class="form-control widget" id="loc_nucleo">
            </div>
          </div>
          <div class="row">
            <div class="form-group col-xs-offset-1 col-xs-10">
              <label for="loc_endere">Endereço</label>
              <input type="text" class="form-control widget" id="loc_endere">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- modal utente -->
  <div class="modal fade" id="editUtenteModal" tabindex="-1" role="dialog" aria-labelledby="editUtenteModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Pechar"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="editUtenteModalLabel">Utente</h4>
        </div>
        <div class="modal-body">

          <div class="row">
            <div class="form-group col-xs-offset-1 col-xs-10">
              <select id="select-utente" class="form-control"></select>
            </div>
          </div>

          <div class="row">
            <div class="form-group col-xs-offset-1 col-xs-10">
              <label for="nome">Nome do utente</label>
              <input type="text" class="form-control widget-utente" id="nome" disabled>
            </div>
          </div>

          <div class="row">
            <div class="form-group col-xs-offset-1 col-xs-4">
              <label for="loc_provin">Província</label>
              <input type="text" class="form-control widget-utente" id="loc_provin" disabled>
            </div>
            <div class="form-group col-xs-offset-2 col-xs-4">
              <label for="nuit">NUIT</label>
              <input type="text" class="form-control widget-utente" id="nuit" disabled>
            </div>
          </div>

          <div class="row">
            <div class="form-group col-xs-offset-1 col-xs-4">
              <label for="loc_distri">Distrito</label>
              <input type="text" class="form-control widget-utente" id="loc_distri" disabled>
            </div>
            <div class="form-group col-xs-offset-2 col-xs-4">
              <label for="entidade">Tipo de entidade</label>
              <input type="text" class="form-control widget-utente" id="entidade" disabled>
            </div>
          </div>

          <div class="row">
            <div class="form-group col-xs-offset-1 col-xs-4">
              <label for="loc_posto">Posto administrativo</label>
              <input type="text" class="form-control widget-utente" id="loc_posto" disabled>
            </div>
            <div class="form-group col-xs-offset-2 col-xs-4">
              <label for="reg_comerc">Nro de registro comercial</label>
              <input type="text" class="form-control widget-utente" id="reg_comerc" disabled>
            </div>
          </div>

          <div class="row">
            <div class="form-group col-xs-offset-1 col-xs-4">
              <label for="loc_nucleo">Núcleo</label>
              <input type="text" class="form-control widget-utente" id="loc_nucleo" disabled>
            </div>
            <div class="form-group col-xs-offset-2 col-xs-4">
              <label for="reg_zona">Registrado em</label>
              <input type="text" class="form-control widget-utente" id="reg_zona" disabled>
            </div>
          </div>

          <div class="row">
            <div class="form-group col-xs-offset-1 col-xs-10">
              <label for="observacio">Observaçôes</label>
              <textarea class="form-control widget-utente" id="observacio" rows="3" disabled></textarea>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- modal actividade -->
  <div class="modal fade" id="editActividadeModal" tabindex="-1" role="dialog" aria-labelledby="editActividadeModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Pechar"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="editActividadeModalLabel">Actividade</h4>
        </div>
        <div class="modal-body">
          <div id="actividade-explotacion" class="row">
            <div class="form-group col-xs-offset-1 col-xs-5">
              <label for="actividade">Tipo de actividade</label>
              <select id="actividade" class="form-control widget">
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- modal fonte subterránea -->
  <div class="modal fade" id="fonteSubModal" tabindex="-1" role="dialog" aria-labelledby="fonteSubModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Pechar"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="fonteSubModalLabel">Fonte subterrânea</h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <input type="hidden" id="tipo_agua" value="Subterrânea" />
            <div class="form-group col-xs-offset-1 col-xs-4">
              <label for="tipo_fonte">Tipo de fonte</label>
              <select class="form-control" id="fonte_tipo">
              </select>
            </div>
            <div class="form-group col-xs-offset-1 col-xs-4">
              <label for="c_requerid">Consumo solicitado</label>
              <input type="text" class="form-control" id="c_soli" />
            </div>
            <div class="form-group col-xs-offset-1 col-xs-9">
              <label for="observacio">Observaçôes</label>
              <textarea class="form-control" id="observacio" rows="3"></textarea>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-primary" id="addFonte">Engadir</button>
        </div>
      </div>
    </div>
  </div>

  <!-- modal fonte superficial -->
  <div class="modal fade" id="fonteSupModal" tabindex="-1" role="dialog" aria-labelledby="fonteSupModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Pechar"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="fonteSupModalLabel">Fonte superficial</h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <input type="hidden" id="tipo_agua" value="Superficial" />
            <div class="form-group col-xs-offset-1 col-xs-4">
              <label for="tipo_fonte">Tipo de fonte</label>
              <select class="form-control" id="fonte_tipo">
              </select>
            </div>
            <div class="form-group col-xs-offset-1 col-xs-4">
              <label for="c_requerid">Consumo solicitado</label>
              <input type="text" class="form-control" id="c_soli" />
            </div>
            <div class="form-group col-xs-offset-1 col-xs-9">
              <label for="observacio">Observaçôes</label>
              <textarea class="form-control" id="observacio" rows="3"></textarea>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-primary" id="addFonte">Engadir</button>
        </div>
      </div>
    </div>
  </div>

  <!-- tmpl actividade abastecimento -->
  <script type="text/template" id="Abastecimento">
    <div class="row">
      <span class="col-xs-offset-1 col-xs-11"><span class="title">Nro de habitantes:</span> <span><%- habitantes || '-' %></span> / <span class="title">Dotaçâo:</span> <span><%- dotacao || '-' %></span></span>
    </div>
  </script>

  <!-- tmpl actividade -->
  <script type="text/template" id="Indústria">
    <div class="row">
      <span class="col-xs-offset-1 col-xs-11"><span class="title">Tipo de indústria:</span> <span><%- tipo_indus || '-' %></span> / <span class="title">Instalaçôes:</span> <span><%- instalacio || '-' %></span></span>
    </div>
    <div class="row">
      <span class="col-xs-offset-1 col-xs-11"><span class="title">Efluente:</span> <span><%- efluente || '-' %></span> / <span class="title">Tratamento:</span> <span><%- tratamento || '-' %></span> / <span class="title">Evaluación impacto:</span> <span><%- eval_impac || '-' %></span></span>
    </div>
  </script>

  <!-- tmpl actividade -->
  <script type="text/template" id="Piscicultura">
    <div class="row">
      <span class="col-xs-offset-1 col-xs-11"><span class="title">Área:</span> <span><%- area || '-' %></span> / <span class="title">Reservas:</span> <span><%- v_reservas || '-' %></span></span>
    </div>
  </script>

  <!-- tmpl actividade produccao energia -->
  <script type="text/template" id="Producção de energia">
    <div class="row">
      <span class="col-xs-offset-1 col-xs-11"><span class="title">Tipo de energía:</span> <span><%- energia_tipo || '-' %></span> / <span class="title">Potencia:</span> <span><%- potencia || '-' %></span></span>
    </div>
    <div class="row">
      <span class="col-xs-offset-1 col-xs-11"><span class="title">Altura água:</span> <span><%- alt_agua || '-' %></span> / <span class="title">Equipo:</span> <span><%- equipo || '-' %></span> / <span class="title">Evaluación impacto:</span> <span><%- eval_impac || '-' %></span></span>
    </div>
  </script>

  <!-- tmpl actividade saneamento -->
  <script type="text/template" id="Saneamento">
    <div class="row">
      <span class="col-xs-offset-1 col-xs-11"><span class="title">Nro de habitantes:</span> <span><%- habitantes || '-' %></span> </span>
    </div>
  </script>

  <!-- tmpl modal licencia subterrânea -->
  <script type="text/template" id="licencia-modal-tmpl">
    <div class="modal fade" id="licenciaModal" tabindex="-1" role="dialog" aria-labelledby="licenciaModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Pechar"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="licenciaModalLabel">Licencia <span id="lic_tipo"></span></h4>
          </div>
          <div class="modal-body">
            <div class="row">
              <input type="hidden" id="lic_tipo">
              <input type="hidden" class="form-control widget" id="lic_nro">
              <div class="form-group col-xs-offset-1 col-xs-10">
                <label for="estado">Estado</label>
                <select class="form-control widget estado-subterranea" id="estado">
                </select>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-xs-offset-1 col-xs-4">
                <label for="cadastro">Nro de cadastro</label>
                <input type="text" class="form-control widget" id="cadastro">
              </div>
              <div class="form-group col-xs-3">
                <label for="d_validade">Data validade</label>
                <input type="text" class="form-control widget-date" id="d_validade">
              </div>
              <div class="form-group col-xs-3">
                <label for="d_emissao">Data emissão</label>
                <input type="text" class="form-control widget-date" id="d_emissao">
              </div>
            </div>
            <div class="row">
              <div class="form-group col-xs-offset-1 col-xs-4">
                <label for="c_soli_int">C. solicitado intermedio</label>
                <input type="text" class="form-control widget-number" id="c_soli_int">
              </div>
              <div class="form-group col-xs-3">
                <label for="c_real_int">C. licenciado</label>
                <input type="text" class="form-control widget-number" id="c_licencia">
              </div>
              <div class="form-group col-xs-3">
                <label for="c_real_int">C. real intermedio</label>
                <input type="text" class="form-control widget-number" id="c_real_int">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </script>

  <!-- tmpl modal fonte -->
  <script type="text/template" id="edit-fonte-modal-tmpl">
    <div class="modal fade" id="editFonteModal" tabindex="-1" role="dialog" aria-labelledby="fonteSupModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Pechar" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="fonteSupModalLabel">Fonte</h4>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="form-group col-xs-offset-1 col-xs-4">
                <label for="tipo_fonte">Tipo de fonte</label>
                <select class="form-control" id="fonte_tipo">
                </select>
              </div>
              <div class="form-group col-xs-offset-1 col-xs-4">
                <label for="c_requerid">Consumo solicitado</label>
                <input type="text" class="form-control" id="c_soli" />
              </div>
              <div class="form-group col-xs-offset-1 col-xs-9">
                <label for="observacio">Observaçôes</label>
                <textarea class="form-control" id="observacio" rows="3"></textarea>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            <button type="button" class="btn btn-primary" id="updateFonte">Actualizar</button>
          </div>
        </div>
      </div>
    </div>
  </script>

  <!-- templates -->
  <script type="text/template" id="licencia-tmpl">
    <div class="row">
      <h4 class="col-xs-offset-1 col-xs-11">Licença <%- lic_tipo + ': ' + (lic_nro || 'Não existe') %>
        <button type="button" class="btn btn-default btn-xs" id="editLicense">Editar</button>
        <button type="button" class="btn btn-default btn-xs" id="addFonte">Nova fonte</button>
      </h4>
      <span class="col-xs-offset-1 col-xs-11"><span class="title">Estado:</span> <%- estado || '-' %></span>
    </div>
    <br>
    <div class="row">
      <div class="col-xs-offset-1 col-xs-2">
        <div class="text-center volume-summary">
          <h4><%- formatter().formatNumber(c_licencia) || '-' %></h4>
          <span>licençados</span>
        </div>
      </div>
      <div class="col-xs-7">
        <br>
        <span class="title">Nro de cadastro:</span> <%- cadastro || '-' %><br>
        <span class="title">Data emissão:</span> <%- formatter().formatDate(d_emissao) || '-' %> <span class="title">/ Data validade:</span> <%- formatter().formatDate(d_validade) || '-' %>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-offset-1 col-xs-2">
        <div class="text-center volume-summary">
          <h4><%- formatter().formatNumber(c_real_tot) || '-' %></h4>
          <span>reais</span>
        </div>
      </div>
      <div class="col-xs-4">
        <br>
        <span class="title">Intermedio:</span> <%- formatter().formatNumber(c_real_int) || '-' %><br>
        <span class="title">Fontes:</span> <%- formatter().formatNumber(c_real_fon) || '-' %>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-offset-1 col-xs-2">
        <div class="text-center volume-summary">
          <h4><%- formatter().formatNumber(c_soli_tot) || '-' %></h4>
          <span>solicitados</span>
        </div>
      </div>
      <div class="col-xs-4">
        <br>
        <span class="title">Intermedio:</span> <%- formatter().formatNumber(c_soli_int) || '-' %><br>
        <span class="title">Fontes:</span> <%- formatter().formatNumber(c_soli_fon) || '-' %>
      </div>
    </div>
  </script>

  <!-- javascript -->

  <script src="lib/jquery/jquery-1.12.0.min.js"></script>
  <script src="lib/bootstrap/js/bootstrap.min.js"></script>
  <script src="lib/json2.js"></script>
  <script src="lib/underscore/underscore-min.js"></script>
  <script src="lib/backbone/backbone-min.js"></script>

  <script src="lib/leaflet/leaflet.js"></script>
  <script src="lib/leaflet-draw/src/Leaflet.draw.js"></script>
  <script src="lib/leaflet-draw/src/edit/handler/Edit.Poly.js"></script>
  <script src="lib/leaflet-draw/src/edit/handler/Edit.SimpleShape.js"></script>
  <script src="lib/leaflet-draw/src/edit/handler/Edit.Circle.js"></script>
  <script src="lib/leaflet-draw/src/edit/handler/Edit.Rectangle.js"></script>
  <script src="lib/leaflet-draw/src/draw/handler/Draw.Feature.js"></script>
  <script src="lib/leaflet-draw/src/draw/handler/Draw.Polyline.js"></script>
  <script src="lib/leaflet-draw/src/draw/handler/Draw.Polygon.js"></script>
  <script src="lib/leaflet-draw/src/draw/handler/Draw.SimpleShape.js"></script>
  <script src="lib/leaflet-draw/src/draw/handler/Draw.Rectangle.js"></script>
  <script src="lib/leaflet-draw/src/draw/handler/Draw.Circle.js"></script>
  <script src="lib/leaflet-draw/src/draw/handler/Draw.Marker.js"></script>
  <script src="lib/leaflet-draw/src/ext/LatLngUtil.js"></script>
  <script src="lib/leaflet-draw/src/ext/GeometryUtil.js"></script>
  <script src="lib/leaflet-draw/src/ext/LineUtil.Intersect.js"></script>
  <script src="lib/leaflet-draw/src/ext/Polyline.Intersect.js"></script>
  <script src="lib/leaflet-draw/src/ext/Polygon.Intersect.js"></script>
  <script src="lib/leaflet-draw/src/Control.Draw.js"></script>
  <script src="lib/leaflet-draw/src/Tooltip.js"></script>
  <script src="lib/leaflet-draw/src/Toolbar.js"></script>
  <script src="lib/leaflet-draw/src/draw/DrawToolbar.js"></script>
  <script src="lib/leaflet-draw/src/edit/EditToolbar.js"></script>
  <script src="lib/leaflet-draw/src/edit/handler/EditToolbar.Edit.js"></script>
  <script src="lib/leaflet-draw/src/edit/handler/EditToolbar.Delete.js"></script>

  <script src="lib/moment-2.11.2/moment-with-locales.js"></script>
  <script src="lib/numeral-js-1.5.3/min/languages.min.js"></script>
  <script src="lib/numeral-js-1.5.3/min/numeral.min.js"></script>
  <script src="lib/formatter/formatter.js"></script>

  <script src="lib/schema-validator/validator.js"></script>

  <script src="lib/backbone-geojson/Feature.js"></script>
  <script src="lib/backbone-geojson/FeatureCollection.js"></script>

  <script src="lib/backbone-uilib/models/Domain.js"></script>
  <script src="lib/backbone-uilib/models/DomainCollection.js"></script>
  <script src="lib/backbone-uilib/views/OptionView.js"></script>
  <script src="lib/backbone-uilib/views/SelectView.js"></script>
  <script src="lib/backbone-uilib/views/WidgetsView.js"></script>

  <script src="Config.js"></script>

  <script src="models/Fonte.js"></script>
  <script src="models/FonteSchema.js"></script>
  <script src="models/FonteCollection.js"></script>
  <script src="models/Licencia.js"></script>
  <script src="models/LicenciaSchema.js"></script>
  <script src="models/LicenciaCollection.js"></script>
  <script src="models/Utente.js"></script>
  <script src="models/UtenteSchema.js"></script>
  <script src="models/UtenteCollection.js"></script>
  <script src="models/Exploracao.js"></script>
  <script src="models/ExploracaoSchema.js"></script>

  <script src="views/ActividadeView.js"></script>
  <script src="views/SelectActividadeView.js"></script>
  <script src="views/ModalFonteView.js"></script>
  <script src="views/ButtonDeleteView.js"></script>
  <script src="views/ButtonSaveView.js"></script>
  <script src="views/SummaryLicenciaView.js"></script>
  <script src="views/SummaryConsumoView.js"></script>
  <script src="views/SummaryPagosView.js"></script>
  <script src="views/ExploracaoMapView.js"></script>

  <script src="views/show/InfoBlockView.js"></script>
  <script src="views/show/LocBlockView.js"></script>
  <script src="views/show/SelectUtenteViewShow.js"></script>
  <script src="views/show/UtenteBlockView.js"></script>
  <script src="views/show/ActividadeBlockView.js"></script>
  <script src="views/show/LicenciaBlockView.js"></script>
  <script src="views/show/EditFonteModalView.js"></script>
  <script src="views/show/TableRowShowView.js"></script>
  <script src="views/show/TableShowView.js"></script>
  <script src="views/show/FontesBlockView.js"></script>
  <script src="views/show/ExploracaoShowView.js"></script>
  <script src="exploracao-show.js"></script>

</body>
</html>
