<!DOCTYPE html>
<html lang="pt">
<head>
  <meta charset="utf-8">
  <title>Buscar exploraçao</title>
  <link rel="stylesheet" href="vendor/bootstrap/css/bootstrap.min.css" />
  <link rel="stylesheet" href="exploracao-search.css" />
</head>
<body class="container-fluid">

  <main class="main-content row">

    <section id="filters" class="col-xs-3">

      <div class="row">
        <div class="col-xs-12">
          <div class="row">
            <h4 class="col-xs-12">Utentes</h4>
          </div>
          <div class="row">
            <select class="form-control col-xs-6 widget" id="utente">
            </select>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="row">
            <h4 class="col-xs-12">Localizaçao</h4>
          </div>
          <div class="row">
            <label for="loc_provin" class="col-xs-4">Provincia</label>
            <select class="form-control col-xs-6 widget" id="loc_provin">
            </select>
          </div>
          <div class="row">
            <label for="loc_distri" class="col-xs-4">Distrito</label>
            <select class="col-xs-6 form-control widget" id="loc_distri">
            </select>
          </div>
          <div class="row">
            <label for="loc_posto" class="col-xs-4">Posto</label>
            <select class="col-xs-6 form-control widget" id="loc_posto">
            </select>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="row">
            <h4 class="col-xs-12">Licencia</h4>
          </div>
          <div class="row">
            <label for="lic_tipo" class="col-xs-4">Tipo</label>
            <select class="col-xs-6 form-control widget" id="lic_tipo">
            </select>
          </div>
          <div class="row">
            <label for="estado" class="col-xs-4">Estado</label>
            <select class="col-xs-6 form-control widget" id="estado">
            </select>
          </div>
          <div class="row">
            <label for="pagos" class="col-xs-4">Pagamentos</label>
            <select class="col-xs-6 form-control widget" id="pagos">
            </select>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="row">
            <h4 class="col-xs-12">Actividade</h4>
          </div>
          <div class="row">
            <select class="col-xs-6 form-control widget" id="actividade">
            </select>
          </div>
        </div>

      </div>
    </div>

  </section>


  <section id="projects" class="col-xs-3">

    <h1 class="text-center">Exploraçaos</h1>
    <br />

    <ul id="project_list" class="list-unstyled">
    </ul>

  </section>

  <section id="map-container" class="col-xs-6">
    <div id="map" class="row"></div>
  </section>

</main>

<!-- templates -->

<script type="text/template" id="exploracao-li-tmpl">
  <li class="row exploracao">
    <a class="col-xs-12 pull-left" href="#"><%- exp_id %> <%- exp_name %></a>
    <span class="col-xs-12 ">
      <small class="label label-success"><%- estado %></small>
      <small class="label label-default"><%- consumo %></small>
      <small class="label label-danger"><%- pagos %></small>
      <small style="color: grey; font-size: 75%"><%- utente %></small>
    </span>
  </li>
</script>

<!-- javascript -->

<script src="vendor/jquery/jquery-1.12.0.min.js" charset="utf-8"></script>
<script src="vendor/bootstrap/js/bootstrap.min.js" charset="utf-8"></script>
<script src="vendor/json2.js" charset="utf-8"></script>
<script src="vendor/underscore/underscore-min.js" charset="utf-8"></script>
<script src="vendor/backbone/backbone-min.js" charset="utf-8"></script>

<script src="config.js" charset="utf-8"></script>
<script src="models/ExploracaoSummary.js"></script>
<script src="models/ExploracaosSummary.js"></script>
<script src="data/exploracaos.js" charset="utf-8"></script>
<script src="iCarto/models/Dominio.js"></script>
<script src="iCarto/models/Dominios.js"></script>
<script src="data/domains.js" charset="utf-8"></script>
<script src="iCarto/views/Option.js"></script>
<script src="iCarto/views/SelectFiller.js"></script>
<script src="iCarto/views/Widgets.js"></script>
<script src="iCarto/views/ItemView.js"></script>
<script src="iCarto/views/ListView.js"></script>
<script src="iCarto/views/BaseView.js"></script>
<script src="views/FiltersView.js"></script>
<script src="exploracao-search.js"></script>

</body>
</html>
