html,
body{
  width: 100%;
  height: 100%;
  background: white;
}

#menu{
  height: 3%;
}

section.row{
  height: 94%;
}

#map-pane {
  float: left;
  width: 100%;
  height: 100%;
}

/* make actions more visually strong */

ul{
  font-size: 1.3em;
}

/* show actions in a horizontal way */
li {
  display: inline-block;
}

/* do not show button to import GPX action */
input[type="file"],
input[type="button"] {
  position: fixed;
  top: -1000px;
}
