<!DOCTYPE html>
<html lang="pt">
<head>
  <meta charset="utf-8">
  <title>Procurar utentes</title>
  <link rel="stylesheet" href="lib/bootstrap/css/bootstrap.min.css" />
  <link rel="stylesheet" href="utentes.css" />
  <link rel="stylesheet" href="base.css" />

  <link rel="stylesheet" type="text/css" href="lib/DataTables/DataTables-1.10.11/css/dataTables.bootstrap.css"/>
  <link rel="stylesheet" type="text/css" href="lib/DataTables/Buttons-1.1.2/css/buttons.bootstrap.css"/>
  <link rel="stylesheet" type="text/css" href="lib/DataTables/FixedHeader-3.1.1/css/fixedHeader.bootstrap.css"/>
  <link rel="stylesheet" type="text/css" href="lib/DataTables/Responsive-2.0.2/css/responsive.bootstrap.css"/>
  <link rel="stylesheet" type="text/css" href="lib/DataTables/Select-1.1.2/css/select.bootstrap.css"/>

</head>
<body class="container-fluid">

  <menu class="row text-center">
    <a href="exploracao-search.html" class="col-xs-1">
      <strong id="search">PROCURAR</strong>
    </a>
    <a href="#" class="col-xs-1">
      <strong id="utentes">UTENTES</strong>
    </a>
    <a href="exploracao-new.html" class="col-xs-1">
      <strong id="new">ALTA</strong>
    </a>
    <a href="exploracao-gps.html" class="col-xs-1">
      <strong id="gps">GPS</strong>
    </a>
  </menu>

  <main class="main-content row">

  <section id="projects" class="col-xs-12">

    <h1 class="text-center">Utentes</h1>
    <br />

    <div id="the_utentes_table">
      <!-- aquí va la tabla -->
    </div>

  </section>

</main>

<!-- templates -->

<script type="text/template" id="exploracao-li-tmpl">
  <li class="row exploracao">
    <a class="col-xs-12 pull-left" href="<%- showUrl %>"><%- exp_id %> <%- exp_name %></a>
    <span class="col-xs-12 ">
      <small class="label label-success"><%- estado %></small>
      <small class="label label-default"><%- consumo %></small>
      <small class="label label-danger"><%- pagos %></small>
      <small style="color: grey; font-size: 75%"><%- utente['nome'] %></small>
    </span>
  </li>
</script>

<!-- javascript -->

<script src="lib/jquery/jquery-1.12.0.min.js"></script>
<script src="lib/bootstrap/js/bootstrap.min.js"></script>
<script src="lib/underscore/underscore-min.js"></script>
<script src="lib/backbone/backbone-min.js"></script>

<script type="text/javascript" src="lib/DataTables/DataTables-1.10.11/js/jquery.dataTables.js"></script>
<script type="text/javascript" src="lib/DataTables/DataTables-1.10.11/js/dataTables.bootstrap.js"></script>
<script type="text/javascript" src="lib/DataTables/Buttons-1.1.2/js/dataTables.buttons.js"></script>
<script type="text/javascript" src="lib/DataTables/Buttons-1.1.2/js/buttons.bootstrap.js"></script>
<script type="text/javascript" src="lib/DataTables/Buttons-1.1.2/js/buttons.colVis.js"></script>
<script type="text/javascript" src="lib/DataTables/FixedHeader-3.1.1/js/dataTables.fixedHeader.js"></script>
<script type="text/javascript" src="lib/DataTables/Responsive-2.0.2/js/dataTables.responsive.js"></script>
<script type="text/javascript" src="lib/DataTables/Select-1.1.2/js/dataTables.select.js"></script>

<script src="lib/locale-sort.js"></script>

<script src="lib/formatter/formatter.js"></script>

<script src="Config.js"></script>

<script src="views/TableUtentes.js"></script>

<script src="models/Utente.js"></script>
<script src="models/UtenteCollection.js"></script>

<script src="utentes.js"></script>

</body>
</html>
