.sixhiara-leaflet-label-paises {
    font: 13px/26px 'Calibri', "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-style: normal;
    color: #000;
}
.sixhiara-leaflet-label-postos {
    font: 9px/18px 'Calibri', "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-style: italic;
    color: #7d7d7d;
}
.sixhiara-leaflet-label-provincias {
    font: 13px/26px 'Calibri', "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-style: normal;
    color: #000;
    text-shadow: 0px 0px 4px #ffffff, 0px 0px 4px #ffffff, 0px 0px 4px #ffffff, 0px 0px 4px #ffffff;
}
.sixhiara-leaflet-label-cidades {
    font: 9px/18px 'Calibri', "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-weight: normal;
    color: #000;
    font-style: italic;
}
